@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (Model.Description != null)
{
    <div class="text-center description">
        <h2>@Model.Description.Title</h2>
        <p>@Model.Description.Description</p>
        <p>Author: @Model.Description.Author</p>
        <p>Version: @Model.Description.Version</p>
    </div>
} 

<div class="text-center">
    <p>SharpTheory is a Music Theory website/API written in C# (hence the name!). There are three main goals of this site</p>
    <div>
        <ul style="list-style: none;">
            <li>1. Learn C# for Web Development</li>
            <li>2. Create a usable music theory API for other developers</li>
            <li>3. Create a demo site to show some possible applications of the API</li>
        </ul>
    </div>
    <div>
        <h3>Todos:</h3>
        <ol>
            <li>Sort out Swagger/OpenAPI Documentation</li>
            <li>Implement a Scales quiz?</li>
            <li>Intervals quiz?</li>
            <li>Terms of use for the API</li>
            <li>Tests!</li>
        </ol>
    </div>
</div>