.piano {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 200px;
}

.white-key {
    width: 50px;
    height: 100%;
    background: white;
    border: 1px solid #ccc;
    margin-right: -1px;
    box-sizing: border-box;
}

.black-keys {
    position: absolute;
    top: 0;
    left: 0;
    height: 120px;
    width: 100%;
    pointer-events: none; /* so white keys are clickable */
}

.black-key {
    position: absolute;
    width: 30px;
    height: 120px;
    background: black;
    border-radius: 0 0 4px 4px;
    z-index: 2;
}

.included-in-key {
    background-color: orange !important;
    border: 3px, solid, black;
}

.tonic-key {
    background-color: blue !important;
    border: 3px, solid, black;
}

.dominant-key {
    background-color: red !important;
}